{% extends "main/base.html" %}
{%load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'assets/img/rule_book/padding_css.css' %}">

<section id='sec' style="width: 100%;height: 100%;margin-top: -100px;"><img src="{% static 'assets/img/rule_book/Image_1.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_2.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_3.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_4.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_5.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_6.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_7.PNG' %}" width="100%" height="100%"></section>
    <section id='sec' style="width: 100%;height: 100%;"><img src="{% static 'assets/img/rule_book/Image_8.PNG' %}" width="100%" height="100%"></section>
{% endblock content%}