{% extends "main/base.html" %}
{%load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css_team/styles.min.css' %}">
<div class="team-boxed" style="background-color: black;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="margin-bottom: 20px;color: rgb(107, 134, 160);">OUR TEAM</h2>
            <p class="text-center"><br>Individual commitment to a group effort--that is what makes a&nbsp;<strong>team</strong>&nbsp;work, a company work, a society work, a civilization work<br><br></p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 25px;">SPORTS SECRETARY</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/sumit.jpg' %}">
                    <h3 class="name">Sumit Singh</h3>
                    <p class="title" style="color: rgb(0,0,0);font-size: 20px;">9149416180</p>
                    <p class="description">2017ume0115@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 25px;">OVERALL COORDINATOR</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/aashis.jpg' %}">
                    <h3 class="name">Aashis Ranjan</h3>
                    <p class="title" style="color: rgb(0,0,0);font-size: 20px;">9107632910</p>
                    <p class="description">2016ume0077@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 50px;">EXECUTIVE  HEAD</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/david.jpg' %}">
                    <h3 class="name">Devid Yadav</h3>
                    <p class="title" style="color: rgb(0,0,0);font-size: 20px;">7051374684</p>
                    <p class="description">2017uee0068@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 25px;">OUTREACH</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/prashant.jpeg' %}">
                    <h3 class="name">Prashant Kumar</h3>
                    <p class="title" style="color: rgb(0,0,0);font-size: 20px;">9027261818</p>
                    <p class="description">2018uce0055@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 25px;">WEB DEVELOPER</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/shadan.jpeg' %}">
                    <h3 class="name">Shadan Zahid</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">6205289589</p>
                    <p class="description">2018uee0038@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 20px;">LOGISTIC &amp; INFRA.</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/keshav.jpg' %}">
                    <h3 class="name">Keshav Vyas</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">9166969436</p>
                    <p class="title"></p>
                    <p class="description">2017uee0074@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-bottom: 20px;margin-right: 15px;">EVENT OPERATIONAL</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/nitin.jpg' %}">
                    <h3 class="name">Nitin Raj</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">7023755372</p>
                    <p class="description">2017ume0108@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-bottom: 20px;margin-top: 15px;">HOSPITALITY &amp; SECURITY</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/aman.jpeg' %}">
                    <h3 class="name">Aman Chain</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">6005025488</p>
                    <p class="description">2018uce0046@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-top: 15px;margin-bottom: 55px;">MEDIA</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/devu.jpg' %}">
                    <h3 class="name">Devendra Gautam</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">6005025488</p>
                    <p class="description">2018uch0026@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <h3 class="name" style="margin-bottom: 20px;margin-right: 15px;">CREATIVITY</h3><img class="rounded-circle" src="{% static 'assets/img/img_team/sumant.jpeg' %}">
                    <h3 class="name">Sumant Kumar</h3>
                    <p class="title" style="color: rgb(24,24,24);font-size: 20px;">6005049362</p>
                    <p class="description">2018uce0049@iitjammu.ac.in</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}
